* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100vh;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 0;
  justify-content: center;
}

button {
  border: none;
  background: rgb(46, 119, 255);
  color: white;
  font-weight: 700;
  padding: 0.1rem;
  border-radius: 0.2rem;
  &:hover {
    cursor: pointer;
    background: rgb(0, 79, 226);
  }
}
